/*general*/
body {
    /* default body format */
    color: #2e2a26;
    flex-direction: column;
    display: flex;
    min-height: 100vh;
    margin: 0;
    font-family: Arial,sans-serif;
    font-size: 14px;


}
.header, .body, .footer{
    padding: 10px;
}
img{
    max-width: 23px;
}
button {
    
   

}
/*header*/
.header {
    background-color: white;
    color: blanchedalmond;
    display: flex;
    justify-content: flex-end;
    /* justify-content: space-between; */
    /* flex-direction: row; */
}
a {
    text-decoration: none;
    color:#2e2a26;
}
.links {
    /* align-items: flex-end; */
    color: #E5E7EB;
    display: inline-block;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 0;
    padding-left: 13px;
    list-style: none;
    text-decoration: none;
    display: inline-block
  
}
/* body */
.body {
    height: 100%;
    width: 100%;
    flex-grow: 1;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.content{

   
}
form {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
}
.input {
    margin: 20px;
    width: 100%;
    min-width: 200px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    justify-self: center;
    border: 0.5px solid  rgb(223, 222, 222);
    
}
.logo {
    max-width: 600px;
    min-width: 300px;
}
.options {
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.search, .lucky {
    padding: 5px;
    text-decoration: none;
    border: 0.5px solid  rgb(248,244,244);
    
}
.option1 {
    display: inline-block;
}
.option2 {
    display: inline-block;
}

/* footer */
.footer {
    flex-shrink: 0;
    background-color:rgb(248,244,244);
    margin: 0;

}

.country, .bottom {
    padding: 10px;
}
.bottom {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.option1, .option2 {
}
.option1 {
    display: flex;
    padding-left: 0;
    justify-content: flex-start;
}

.option2 {
    justify-content: flex-end;
}

/* image_search.html */
.title {
    display: inline-block;
}
.subtitle {
    flex-wrap: wrap;
}