/*general*/
body {
    /* default body format */
    color: #2e2a26;
    flex-direction: column;
    display: flex;
    min-height: 100vh;
    margin: 0;
    font-family: Arial,sans-serif;
    font-size: 14px;


}
.header, .body, .footer{
    padding: 10px;
}
.img{
    max-width: 23px;
}
button {
    
   

}
/*header*/
.header {
    background-color: white;
    color: blanchedalmond;
    display: flex;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    /* flex-direction: row; */
}
.title{
    display: flex;
    /* height: 100%; */
}
a {
    text-decoration: none;
    color:#2e2a26;
}
.links {
    /* align-items: flex-end; */
    color: #E5E7EB;
    display: flex;
    justify-content:flex-end;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 0;
    padding-left: 13px;
    list-style: none;
    text-decoration: none;
    display: inline-block
  
}
/* advanced search html */
/* .advanced .title {
    white-space: nowrap;
}
.title .logo {
    height: auto;
} */
.advanced .title {
    max-height: max-content;
}
.advanced .image .logo {
    display: inline-block;
    white-space: nowrap;
    width: 100px;
    height: auto;
}
/* body */
.main {

    flex-grow: 1;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    justify-content: center;
    /* justify-content: left; */
    flex-direction: column;
    margin: 0;

}

.content{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    
}
.input, .filler {
    margin: 20px;
    width: 100%;
    flex-wrap: wrap;
    height: 30px;
    border-radius: 20px;
    display: flex;
    justify-self: center;
    border: 0.5px solid  rgb(223, 222, 222);
    
}
/* .logo {
    max-width: 600px;
    min-width: 300px;
    white-space: nowrap;
} */
.options {
    flex-direction: row;
    justify-content: center;
    text-align: center;
}
.search, .lucky {
    padding: 5px;
    text-decoration: none;
    border: 0.5px solid  rgba(248,249,250,255);
    
}
.option1 {
    display: inline-block;
}
.option2 {
    display: inline-block;
}

/* image search html*/
.subtitle {
    color: #4285f4;
    font: 16px / 16px Arial, sans-serif;
    top: 430px;
    right: 500px;

    white-space: nowrap;

}
/* advanced search html */
.advanced {
    /* flex-grow: 1;
    flex-wrap: wrap;
    display: flex;
    justify-content: left;
    flex-direction: column;
    margin: 0; */
}
.advanced .main {
    padding: 10px;
    display: flex;
    justify-content: left;
    flex-flow: column;
}
.advanced .content {
    border-top: 0.5px solid rgb(223, 222, 222);
}
.form-title {
    flex-wrap: wrap;
    display:block;
    text-align: left;
    justify-content: left;
    color: #d93025;
    font-size: 20px;
    align-self: flex-start;
    margin: 20px;
    
    
}
.advanced form {
    flex-wrap: wrap;
    width: 100%;
    display: flex;
    justify-content:left;
    flex-direction: column;
    padding: 20px;
    
   
}
form span {
    font-size: 17px;
}

.advanced .prompt, .filler-main {
    align-items: center;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
}

.advanced .content label, .filler-left {
    width: 170px;
    flex: none;

}
.advanced .options {
    display: flex;
    justify-content: right;
    flex-direction: row;
}
.advanced .input, .filler {
    min-width: 190px;
    max-width: 500px;
    border-radius: 0px;
    display: flex;
    justify-content: left;
}
.filler-left {
    display: flex;
    border: 0.5px solid  rgba(248,249,250,255);
    flex-wrap: wrap;
}

.filler {
    display:flex;
    border: 0px;
    justify-content: flex-end;
    flex-wrap: nowrap; 

}

.advanced .search {
    display: flex;
    background-color: #4285f4;
    color:white;
    border:#4285f4;
}


/* footer */
.footer {
    flex-shrink: 0;
    background-color:rgb(248,244,244);
    margin: 0;

}

.country, .bottom {
    padding: 10px;
}
.bottom {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-top: 0.5px solid rgb(223, 222, 222);
}
.option1, .option2 {
}
.option1 {
    display: flex;
    padding-left: 0;
    justify-content: flex-start;
}

.option2 {
    justify-content: flex-end;
}

/* advanced search html */
.advanced .footer {
    display: flex;
    flex-direction: column;
}
.advanced .country {
    display: flex;
    justify-content: flex-start;
}
.advanced .bottom {
    display: flex;
    justify-content: flex-start;
}
